<footer style="background: rgba(15, 52, 96, 0.95); padding: 10px; text-align: center; color: #fff; border-radius: 10px; width: 100vw;">
       <p>© 2025 AI Game Recommender - Afek Vaknin  | כל הזכויות שמורות</p>
   </footer>